<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View  Resources</title>
    <link rel="stylesheet" type="text/css" href="/css-file/main_styles.css" />
    <link rel="stylesheet" type="text/css" href="/css-file/responsive.css" />
    <link rel="stylesheet" href="/css-file/tchrConsole.css">
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <style>
       body {
  font-family: 'lato', sans-serif;
 

}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  color:  #090341;;
  text-decoration: underline;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}

.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color:  #090341;;
    color: #ffffff;
        font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    flex-basis: 15%;
  }
  .col-2 {
    flex-basis: 15%;
  }
  .col-3 {
    flex-basis: 15%;
  }
  .col-4 {
    flex-basis: 15%;
  }
  .col-5 {
    flex-basis: 15%;
  }
  .col-6 {
    flex-basis: 15%;
  }
  .col-7 {
    flex-basis: 10%;
  }
  
  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row{
      
    }
    li {
      display: block;
    }
    .col {
      
      flex-basis: 100%;
      
    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #000000;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}
.header_1 {
    float: right;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #000000; /* Dark gray text */
    padding: 10px 15px; /* Adds spacing */
    background-color: #f8f8f8; /* Light background */
    border-radius: 5px; /* Rounded corners */
    transition: all 0.3s ease-in-out;
}

.header_1:hover {
    color: white;
    background-color: #007BFF; /* Blue background on hover */
    text-decoration: none;
}
   .footer_row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_col {
    margin-bottom: 30px;
    width: 100%; /* Ensure each column takes full width on smaller screens */
}

@media screen and (min-width: 768px) {
    .footer_col {
        width: auto; /* Allow columns to take their natural width on larger screens */
    }
}
.header-bar {
    display: flex;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;
  }

    </style>
</head>
<body>
  <div class="super_container">
    <!-- Header Section -->
    <header class="header">
      <!-- Top Bar -->
     
                  <div class="top_bar_login ml-auto">
                    <div class="login_button">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Header Content -->
      <div class="header_container">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="header_content d-flex flex-row align-items-center justify-content-start">
                <div class="header-bar">
                  <a href="/classroom/class"><i class="fa fa-arrow-left fa-2x back-icon" style="color: #ffffff;""></i></a>
                
                  <div class="logo"  style="margin-left: 20px;">
                    <img src="/images/R.jpeg" class="uniLogo" alt="UniLogo" />
                    <div class="logo_text">Physics<span>Verse</span></div>
                  </div>
                </div>

              <nav class="main_nav_contaner ml-auto">
                <ul class="main_nav">
                
                 
                </ul>

               
              </nav></div>
            </div>
          </div>
        </div>
      </div>
    </header>

   
  
    <div class="container" >
        <a href="/tchr/tchrConsole" class="header_1">Home</a>
        <% if (materials.length > 0) { %>
        <h2>Learning Material  </h2>
        <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-1">Exp_No</div>

            <div class="col col-2">Title</div>
            <div class="col col-3">fileType</div>
            <div class="col col-4">Assigned To</div>
            <div class="col col-5">Class Name</div>
            <div class="col col-6">View</div>
            <div class="col col-7">Download</div>
            <div class="col col-8">Delete</div>



          </li>
          <% materials.forEach((material) => { %>
            <li class="table-row">
              <div class="col col-1" data-label="exp_no"><%= material.exp_no %></div>

                <div class="col col-2" data-label="Title"><%= material.title %></div>
                <div class="col col-3" data-label="File Type"><%= material.fileType %></div>
                <div class="col col-4" data-label="Assigned To">
                    <%= material.assignedTo === "all" ? "All Students" : "Class: " + material.className %>
                </div>
                <div class="col col-5" data-label="Class Name"><%= material.className || "N/A" %></div>
                <div class="col col-6" data-label="View">
                  <a href="/tchr/view/<%= material._id %>" target="_blank" style="color: #020f3a;">
                      <i class="fas fa-eye fa-2x"></i>
                  </a>
              </div>
              <div class="col col-7" data-label="Download" >
                  <a href="/tchr/download/<%= material._id %>" style="color: #020f3a;">
                      <i class="fas fa-download fa-2x"></i>
                  </a>
              </div>
              <div class="col col-8" data-label="Delete">
                  <a href="/tchr/delete/<%= material._id %>" style="color: red;">
                      <i class="fas fa-trash-alt fa-2x"></i>
                  </a>
              </div>
              
            </li>
        <% }) %>
         
          
        </ul>
        <% } else { %>
            <p>No resources available.</p>
        <% } %>
      </div>

    <!-- <a href="/std/class">Back to Dashboard</a> -->
     
	<footer class="footer">
		<div class="footer_background" style="background-image: url(/images/footer_background.png)"></div>
		<div class="container">
			<div class="row footer_row" ">
				<!-- About Section -->
				<div class="col-lg-4 col-md-6 footer_col">
					<div class="footer_section footer_about">
						<div class="footer_logo_container">
							<a href="#">
								<div class="footer_logo_text">Physics<span>Verse</span></div>
							</a>
						</div>
						<div class="footer_about_text">
							<p>A virtual physics Lab. Explore the wonders of physics with PhysicsVerse.</p>
						</div>
						<div class="footer_social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Useful Links Section -->
				<div class="col-lg-3 col-md-6 footer_col">
					<div class="footer_section footer_links">
						<div class="footer_title">Useful Links</div>
						<div class="footer_links_container">
							<ul>
								<li><a href="#" id="footer_home">Home</a></li>
								<li><a href="#" id="footer_about">About Us</a></li>
								<!-- <li><a href="#" id="footer_courses">Experiments</a></li> -->
								<li><a href="#" id="footer_contact">Contact</a></li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Contact Section -->
				<div class="col-lg-5 col-md-12 footer_col">
					<div class="footer_section footer_contact">
						<div class="footer_title">Contact Us</div>
						<div class="footer_contact_info">
							<ul>
								<li><i class="fa fa-user" aria-hidden="true"></i>Tuba Jabeen | Isha Eman</li>
								<li><i class="fa fa-phone" aria-hidden="true"></i> +92-3345605064 | +92-3019575969</li>
								<li><i class="fa fa-envelope" aria-hidden="true"></i> fa21-bcs-033@cuiatk.edu.pk |
									fa21-bcs-046@cuiatk.edu.pk</li>
							</ul>
						</div>
					</div>
				</div>
			</div> <!-- Close footer_row -->

			<!-- Copyright Section -->
			<div class="row">
				<div class="col">
					<div class="footer_copyright">
						<p>&copy; 2025 PhysicsVerse. All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>

</body>
</html>
