<!DOCTYPE html>
<html lang="en">
<head>
  <title>Teacher Account</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="Unicat project" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/bootstrap4/bootstrap.min.css" />
  <link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.carousel.css" />
  <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.theme.default.css" />
  <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/animate.css" />
  <link rel="stylesheet" type="text/css" href="/css-file/main_styles.css" />
  <link rel="stylesheet" type="text/css" href="/css-file/responsive.css" />
  <link rel="stylesheet" href="/css-file/signup.css">
  <link rel="stylesheet" href="/assets/css/fontawesome.css">
  <link rel="stylesheet" href="/assets/css/templatemo-seo-dream.css">
  <link rel="stylesheet" href="/assets/css/animated.css">
  <link rel="stylesheet" href="/assets/css/owl.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css-file/tchrConsole.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
<style>
.tab{
padding-left: 10px;
}
.login-snip{
  padding: 30px;
}
</style>
</head>
<body>

  <div class="super_container">
    <!-- Header Section -->
      <!-- Header Section -->
      <header class="header">
        <!-- Top Bar -->
       
  
        <!-- Header Content -->
        <div class="header_container">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="header_content d-flex flex-row align-items-center justify-content-start">
                  <div
                  class="header_content d-flex flex-row align-items-center justify-content-start">
              
                    <!-- <i class="fas fa-arrow-left"></i>  -->
                  </a>
                    <img src="/images/R.jpeg" class="uniLogo" alt="UniLogo">
                  <div class="logo_container">
                    <a href="#">
                      <div class="logo_text">Physics<span>Verse</span></div>
                    </a>
                  </div>
      <!-- HTML !-->
  
      
    
  
       
              </div>
              <nav class="main_nav_contaner ml-auto">
                <ul class="main_nav">
                      
                  <li>
                    <a href="/" style="display: flex; align-items: center; text-decoration: none;  font-size: 30px;">
                      <i class="fa fa-home" style="margin-right: 2px; padding: 4px;"></i>
                    </a>
                  </li>
                </ul>
               
              </nav>
            </div>
             <!-- Filter Form -->
     
          </div>
        </div>
      </header>
  <!-- Team -->

	
    <!-- Features -->

    <div class="features">
      
      <!-- <div class="container"> -->
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-8 col-sm-10 mx-auto p-0">
               <div class="login-box" >
                  <div class="login-snip">
                      <!-- Use a variable to set which tab is active based on form submission -->
                      <input id="tab-1" type="radio" name="tab" class="sign-in" <% if (activeTab === 'login') { %> checked <% } %>>
                      <label for="tab-1" class="tab">Login</label>
                      <input id="tab-2" type="radio" name="tab" class="sign-up" <% if (activeTab === 'signup') { %> checked <% } %>>
                      <label for="tab-2" class="tab">Sign Up</label>
                      
                      <div class="login-space">
                        <div class="login">
                          <!-- Login Form -->
                          <form action="/tchr/login" method="post" autocomplete="off">
                            <div class="group">
                                <label for="email" class="label">Email</label>
                                <input 
                                    id="email" 
                                    name="email" 
                                    type="email" 
                                    class="input form-control <% if (loginErrors && loginErrors.email) { %> is-invalid <% } %>" 
                                    placeholder="Enter your email"
                                    value="<%= email || '' %>"> 
                        
                                <!-- Show error message for email if any -->
                                <% if (loginErrors && loginErrors.email) { %>
                                    <div class="error-text"><%= loginErrors.email %></div>
                                <% } %>
                            </div>
                        
                            <div class="group">
                                <label for="pwd" class="label">Password</label>
                                <div class="input-container">

                                <input 
                                    id="pwd" 
                                    name="pwd" 
                                    type="password" 
                                    class="input form-control <% if (loginErrors && loginErrors.pwd) { %> is-invalid <% } %>" 
                                    placeholder="Enter your password">
                                    <i class="fa fa-eye togglePassword"></i>
                                  </div>
                                
                                <!-- Show error message for password if any -->
                                <% if (loginErrors && loginErrors.pwd) { %>
                                    <div class="error-text"><%= loginErrors.pwd %></div>
                                <% } %>
                            </div>
                        
                            <!-- General error message for invalid credentials -->
                            <% if (loginErrors && loginErrors.general) { %>
                                <div class="error-text"><%= loginErrors.general %></div>
                            <% } %>
                        
                            <div class="group">
                                <input type="submit" class="button btn btn-primary w-100" value="Log In">
                            </div>
                            <div class="group">
                              <div class="social">

                                <div class="fb"> <a href="/tchr/passreset" style="color: rgb(250, 250, 250); text-decoration: none; font-weight: bold;">Reset Password</a>
                                </div></div>                            </div>
                        </form>
                      </div>
                          <!-- Sign Up Form -->
                          <div class="sign-up-form">
                            <form action="/tchr/signup" method="post" enctype="multipart/form-data" id="signupForm" autocomplete="off">
                                <div class="group">
                                    <label for="fname" class="label">First Name</label>
                                    <input id="fname" name="fname" type="text" 
                                        class="input form-control <% if (typeof signupErrors !== 'undefined' && signupErrors.fname) { %> is-invalid <% } %>" 
                                        placeholder="Enter your first name" 
                                        value="<%= fname || '' %>">
                                    <% if (typeof signupErrors !== 'undefined' && signupErrors.fname) { %>
                                        <div class="error-text"><%= signupErrors.fname %></div>
                                    <% } %>
                                </div>
                                
                                <div class="group">
                                    <label for="lname" class="label">Last Name</label>
                                    <input id="lname" name="lname" type="text" 
                                        class="input form-control <% if (typeof signupErrors !== 'undefined' && signupErrors.lname) { %> is-invalid <% } %>" 
                                        placeholder="Enter your last name" 
                                        value="<%= lname || '' %>">
                                    <% if (typeof signupErrors !== 'undefined' && signupErrors.lname) { %>
                                        <div class="error-text"><%= signupErrors.lname %></div>
                                    <% } %>
                                </div>
                                
                                <div class="group">
                                    <label for="email" class="label">Email</label>
                                    <input id="email" name="email" type="email" 
                                        class="input form-control <% if (typeof signupErrors !== 'undefined' && signupErrors.email) { %> is-invalid <% } %>" 
                                        placeholder="Enter your email" 
                                        value="<%= email || '' %>">
                                    <% if (typeof signupErrors !== 'undefined' && signupErrors.email) { %>
                                        <div class="error-text"><%= signupErrors.email %></div>
                                    <% } %>
                                </div>
                                <div class="group" >
                                    <label for="role" class="label">Select a Role</label><br>
                                    <select class="roleSelect" id="roleSelect"  name="role" style="color: black;">
                                        <option value="all">All Roles</option>
                                        <option value="instructor">Instructor</option>
                                        <option value="developer">Developer</option>
                                        <option value="physics_expert">Physics Expert</option>
                                    </select>
                                  </div>
                                  <div class="group">
                                    <label for="pwd" class="label">Password</label>
                                    <div class="input-container">
                                        <input id="pwd" name="pwd" type="password" 
                                            class="input form-control <% if (typeof signupErrors !== 'undefined' && signupErrors.confirm_pwd) { %> is-invalid <% } %>" 
                                            placeholder="Enter your password">
                                        <i class="toggle-password fa fa-eye" style="color: black;"></i>
                                    </div>
                                    <% if (typeof signupErrors !== 'undefined' && signupErrors.pwd) { %>
                                        <div class="error-text"><%= signupErrors.pwd %></div>
                                    <% } %>
                                </div>
                                
                                <div class="group">
                                    <label for="confirm_pwd" class="label">Repeat Password</label>
                                    <div class="input-container">
                                        <input id="confirm_pwd" name="confirm_pwd" type="password" 
                                            class="input form-control <% if (typeof signupErrors !== 'undefined' && signupErrors.confirm_pwd) { %> is-invalid <% } %>" 
                                            placeholder="Repeat your password">
                                        <i class="toggle-password fa fa-eye" style="color: black;"></i>
                                    </div>
                                    <% if (typeof signupErrors !== 'undefined' && signupErrors.confirm_pwd) { %>
                                        <div class="error-text"><%= signupErrors.confirm_pwd %></div>
                                    <% } %>
                                </div>

                                <div class="group">
                                    <label for="pic" class="label ">Upload Picture</label>
                                    <input id="pic" name="pic" type="file" class="input form-control ">
                                </div>
                                
                                <% if (typeof signupErrors !== 'undefined' && signupErrors.general) { %>
                                    <div class="error-text"><%= signupErrors.general %></div>
                                <% } %>
                                
                                <div class="group">
                                    <input type="submit" class="button btn btn-primary w-100" value="Sign Up">
                                </div>
                            </form>
                        </div>
                      </div>
                  </div>
              </div>
         </div>
      </div>
    </div>
      <!-- Features -->
        <!-- Partners -->
      <div class="partners">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="partners_slider_container">
						<div class="owl-carousel owl-theme partners_slider">

							<!-- Partner Item -->
							<div class="owl-item partner_item"><img src="/images/partner_1.png" alt=""></div>

							<!-- Partner Item -->
							<div class="owl-item partner_item"><img src="/images/partner_2.png" alt=""></div>

							<!-- Partner Item -->
							<div class="owl-item partner_item"><img src="/images/partner_3.png" alt=""></div>

							<!-- Partner Item -->
							<div class="owl-item partner_item"><img src="/images/partner_4.png" alt=""></div>

							<!-- Partner Item -->
							<div class="owl-item partner_item"><img src="/images/partner_5.png" alt=""></div>

							<!-- Partner Item -->
							<div class="owl-item partner_item"><img src="/images/partner_6.png" alt=""></div>

						</div>
                        <div class="social_list">
                            <ul>
                                <!-- <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li> -->
                            </ul>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>


 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/bootstrap4/popper.js"></script>
    <script src="/bootstrap4/bootstrap.min.js"></script>
    <script src="/plugins/greensock/TweenMax.min.js"></script>
    <script src="/plugins/greensock/TimelineMax.min.js"></script>
    <script src="/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="/plugins/greensock/animation.gsap.min.js"></script>
    <script src="/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="/plugins/easing/easing.js"></script>
    <script src="/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="/js/custom.js"></script>

 <script>
document.querySelectorAll('.toggle-password').forEach(function(icon) {
    icon.addEventListener('click', function (e) {
        // Find the closest parent container
        const container = this.closest('.input-container');
        if (container) {
            // Find the input field within the container
            const input = container.querySelector('input');
            if (input) {
                // Toggle the type attribute
                const type = input.getAttribute('type') === 'password' ? 'text' : 'password';
                input.setAttribute('type', type);
                
                // Toggle the eye slash icon
                this.classList.toggle('fa-eye');
                this.classList.toggle('fa-eye-slash');
            }
        }
    });
});
</script>
<!-- Add this at the end of your HTML, just before the closing </body> tag -->
<script src="/js/signup-validation.js"></script>
  </body>
</html>